<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/jquery-ui/themes/base/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'Mail/css/styles.css' %}" rel="stylesheet">
    <!--<link href="{%static 'bower_components/flat-ui/dist/css/flat-ui.min.css'%}" rel="stylesheet">-->
    <link href="{%static 'Mail/css/my-flat-ui.min.css'%}" rel="stylesheet">
    <title>
        LightMail
    </title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navar-header">
            <a class="navbar-brand" href="{% url 'mail:index' %}"><i class="fa fa-envelope"></i>LightMail</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav nav-pills navbar-left" role="tablist">
                <li><a href="{% url 'mail:index' %}" class="active">Inbox</a></li>
                <li><a href="{% url 'mail:sent_emails' %}">Sent</a></li>
                <li><a href="{% url 'mail:contacts' %}">Contacts</a></li>
            </ul>
            <ul class="nav nav-pills navbar-right">
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <!--<div class="col-md-3" id="left-nav-bar">-->
        <!--{% block left_bar %}-->
        <!--{% endblock %}-->
        <!--</div>-->
        <div id="main-content">
            {% block main_content%}
            {% endblock %}
        </div>
    </div>

</div>

<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
</body>
<script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2012",
      // You can put more options here.

    });
    $("#contacts_auto_complete").autocomplete({
    source: "api/get_contacts/",
    minLength: 2,
  });
  });

</script>
</html>