{% extends 'Mail/base.html' %}
{% block main_content %}
<div class="page-header">
    <h2>
        Contacts
    </h2>
</div>
<form method="get">
    <div class="input-group">
        <div class="ui-widget">
            <input name="searchParams" type="text" placeholder="Search by Name or Email..." class="form-control"
                   value="{{searchParams|default_if_none:''}}" id="contacts_auto_complete">
        </div>
    <span class="input-group-btn">
    <button type="submit" class="btn btn-primary">
        <i class="fa fa-search"></i>
    </button>
    </span>
    </div>
</form><br/>
<div class="panel panel-primary">
    <div class="panel-heading">
        <a type="button" class="btn btn-info" href="{% url 'mail:add_contact' %}"><i class="fa fa-user-plus"></i> Add
            Contact</a>
    </div>
    <div class="panel-body scroll-panel">
        <div class="list-group">
            {% for contact in contacts %}
            <a type="button" href="{% url 'mail:contact_details' contact.id %}" class="list-group-item">
                {{ contact.first_name }} {{contact.last_name }}<br>
                {{ contact.email }}
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
