{% extends 'Mail/base.html' %}
{% block main_content %}
<h3>Contacts</h3>
<a type="button" class="btn btn-primary" href="{% url 'mail:add_contact' %}"><i class="fa fa-user-plus"></i> Add Contacts</a><br/>
<ul class="list-group">
    {% for contact in contacts %}
    <li class="list-group-item">
        <a href="{% url 'mail:contact_details' contact.id %}">
            {{ contact.first_name }} {{contact.last_name }}<br>
            {{ contact.email }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
