{% extends 'Mail/base.html'%}
{%block main_content %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <a type="button" class="btn btn-info" href="{% url 'mail:compose_email'%}?compose_to={{email.sender}}">Reply <i
                class="fa fa-align-right fa-reply"></i></a><br/>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item"><b>Sender:</b> {{ email.sender }}</li>
            <li class="list-group-item"><b>Subject:</b> {{email.subject }}</li>
            <li class="list-group-item"><b>Date:</b> {{ email.date }}</li>
            <li class="list-group-item">
                <div class="panel">
                    <div class="panel-body">{{email.content}}</div>
                </div>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
