{% extends 'Mail/base.html' %}
{% block left_bar %}
{% endblock %}
{% block main_content %}
<div class="page-header">
    <h2>
        Inbox
    </h2>
</div>
<form method="get">
    <div class="input-group">
        <input name="searchParams" type="text" placeholder="Search Inbox..." class="form-control"
               value="{{searchParams|default_if_none:''}}">
        <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-search"></i>
        </button>
        </span>
    </div>
</form><br/>
<div class="panel panel-primary">
    <div class="panel-heading">
        <a type="button" class="btn btn-info" href="{% url 'mail:compose_email'%}"><i class="fa fa-pencil"></i>
            Compose Email</a>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            {% for email in emails %}
            <a href="{% url 'mail:email_detail' email.id %}" type="button" class="list-group-item">
                <div class="row" style="{% if not email.is_read %}font-weight:bold{% endif %}">
                    <div class="col-md-2 divided-column">
                        {{email.date | date:"b j,  P"}}
                    </div>
                    <div class="col-md-4 divided-column">
                        {{email.sender}}
                    </div>
                    <div class="col-md-6">
                        {{email.subject}}
                    </div>
                      <!--{{email.content |truncatechars:15 }}-->
                </div>
            </a>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
